<!DOCTYPE html>
<html lang="e">
<head>
<meta charset="UTF -8">
<title>Hola Mundo </title>
<script type="module" src="HolaMundo.js"></script>
<!--<script>

    class TextoSaludo extends HTMLElement {
        constructor() {
            super();
        }
        connectedCallback() {
            this.innerHTML = '<div> <p onclick="saludar()">Hola Mundo</p> </div>';
          
        }
    }

    function saludar(){
        alert("Hola Mundo");
    }

    window.customElements.define('texto-saludo', TextoSaludo );


</script>
-->
</head>
<body>
    <texto-saludo id="holaMundo"></texto-saludo >
</body>
</html>
